/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "normalize";
@import "compass/css3";
@import "mixin";
@import "animation";
section{
  width: $prt;
  height: $prt;
  position: $psr;
}

.bg-color{
  background-color: #2d4081;
}

.bg-star{
  background: url("../images/star.png") no-repeat;
  background-size: cover;
  position: $psa;
  height: $prt;
  width: $prt;
}

.bg-game{
  @extend .bg-star;
  background: url("../images/star-game.png") no-repeat;
}

.bg-page-1{
  width: 428px;
  height: 428px;
  border: 1px solid rgb(35, 60, 101);
  background-color: #233264;
  position: $psa;
  @include center(428px, 428px);
  @include radius(50%);
  box-shadow: 0 0 0 113px #283972, 0 0 0 114px #223161,0 0 0 193px #2a3d79,0 0 0 194px #273971,0 0 0 254px #2c3f7e,0 0 0 255px #2a3c79;
}

.main-page-1{
  width: 428px;
  height: 428px;
  position: $psa;
  top: 50%;
  left: 50%;
}

.main-page-1{
  @include center(428px, 428px);
  .rocket{
    @include opacity(0);
    @include set-main-page-1(165px, 195px, "../images/rocket-1.png", -29px, 48px);
  }
  .thanks{
    @include opacity(0);
    @include set-main-page-1(396px, 227px, "../images/thanks.png", 43px, 48px);
  }
  .withyou{
    @include opacity(0);
    @include set-main-page-1(365px, 133px, "../images/withyou.png", 208px, 38px);
  }
  .text{
    @include opacity(0);
    @include set-main-page-1(192px, 83px, "../images/miaov.png", -7px, 209px);
  }
}

.arrow{
  width: 90px;
  height: 65px;
  background: url("../images/arrow.png") no-repeat;
  position: $psa;
  @include horizon-center(90px);
  bottom: 40px;
  @include opacity(0);
  @include animation(arrow 1s infinite);
}


.section-in .main-page-1{
  .rocket{
    @include animation(rocket 1s forwards);
  }
  .thanks{
    @include animation(thanks 1s forwards);
  }
  .withyou{
    @include animation(withyou 1s forwards);
  }
  .text{
    @include animation(text 1s 1s forwards);
  }
}

.section-out {
  .bg-page-1 {
    @include animation(circle-out 1s forwards);
  }
  .bg-star {
    @include animation(star-out 1s forwards);
  }
  .main-page-1 {
    .rocket {
      @include animation(rocket-out 1s forwards);
    }
    .thanks {
      @include opacity(1);
      @include animation(thanks-out 1s 0.5s forwards);
    }
    .withyou {
      @include opacity(1);
      @include animation(withyou-out 1s 0.3s forwards);
    }
    .text {
      @include animation(text-out 1s forwards);
    }

  }
}


.music{
  width: 50px;
  height: 47px;
  position: $psa;
  bottom: 10px;
  right: 10px;
  z-index: 9;
}

.play{
  background: url("../images/music-play.png") no-repeat;
  @include animation(music 2s infinite);
  @include animation-timing-function(linear);
}

.stop{
  background: url("../images/music-stop.png") no-repeat;
}

.loading{
  $color:#4091dc;
  width: 464px;
  height:28px;
  border: 1px solid $color;
  @include border-radius(14px);
  overflow: hidden;
  position: $psa;
  bottom: 119px;
  left: 50%;
  @include horizon-center(464px);
  span{
    width: 0;
    height: 28px;
    background-color: $color;
    display: block;
  }
}


%bar-col{
  height: 100%;
  float: left;
  line-height: 73px;
  font-size: 30px;
}

.bar{
  width: 100%;
  height: 73px;
  background-color: rgba(0, 0, 0, 0.4);
  position: $psa;
  bottom: 0;
}

.score, .time{
  @extend %bar-col;
}

.score{
  width: 236px;
  background: url("../images/monster-4.png") 23px 15px no-repeat;
  background-size: 59px 51px;
  color: #55B9f8;
  text-indent: 82px;
}

.time{
  width: 180px;
  background: url("../images/time.png") 0px 16px  no-repeat;
  color: #ffe400;
  text-indent: 56px;
}
